.container {
  margin: 0 auto;
  width: 400px;
  overflow: hidden;
}
.slider {
  display: flex;
  height: 300px;
  width: 1000%;
  position: relative;
  transition: 0.4s ease;
}
.slider img {
  min-width: 400px;
}
.btns {
  display: flex;
  width: 35%;
  justify-content: space-between;
  margin: 50px auto;
}
