#root {
  width: 90%;
  margin: 0 auto;
  padding: 2rem;
  max-width: 1200px;
}
.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}
.header div {
  border: 1px solid #00d9ff;
  border-radius: 5px;
  padding: 3px 10px;
}
.content {
  display: flex;
  gap: 50px;
}
.navigation {
  border: 1px solid #00d9ff;
  border-radius: 5px;
}
.navigation ul {
  height: 100%;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  gap: 20%;
}
.cards {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(3, 1fr);
  border: 1px solid #00d9ff;
  border-radius: 5px;
}
.cards div {
  width: 200px;
  height: 300px;
  border: 1px solid #00d9ff;
  border-radius: 5px;
}
li {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  border: 1px solid #00d9ff;
  border-radius: 10px;
  margin-bottom: 10px;
}
li div {
  display: flex;
  gap: 5px;
}
form {
  display: flex;
  flex-direction: row-reverse;
}
form input {
  border: 1px solid #00d9ff;
  border-radius: 10px;
}
form label {
  display: flex;
  gap: 5px;
}
